<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csk2024.personalblog.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.csk2024.personalblog.entity.Article">
            <id property="articleId" column="article_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="articleTypeId" column="article_type_id" jdbcType="VARCHAR"/>
            <result property="articleTitle" column="article_title" jdbcType="VARCHAR"/>
            <result property="articleAddTime" column="article_add_time" jdbcType="TIMESTAMP"/>
            <result property="articleCentext" column="article_centext" jdbcType="VARCHAR"/>
            <result property="articleGoodNumber" column="article_good_number" jdbcType="INTEGER"/>
            <result property="articleLookNumber" column="article_look_number" jdbcType="INTEGER"/>
            <result property="articleCollectionNumber" column="article_collection_number" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        article_id,user_id,article_type_id,
        article_title,article_add_time,article_centext,
        article_good_number,article_look_number,article_collection_number
    </sql>

    <select id="listArticleListVo" resultType="com.csk2024.personalblog.vo.ArticleListVo">
        SELECT art.article_id,
               art.user_id,
               u.user_name,
               art.article_type_id,
               artt.article_type_name,
               art.article_title,
               art.article_add_time,
               art.article_good_number,
               art.article_look_number,
               art.article_collection_number
        FROM article art
                 LEFT JOIN article_type AS artt ON art.article_type_id = artt.article_type_id
                 LEFT JOIN `user` AS u ON u.user_id = art.user_id
        <where>
            <if test="articleTitle != null and articleTitle != ''">
                and art.article_title  like "%"#{articleTitle}"%"
            </if>
        </where>
    </select>
</mapper>
