<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personalblog.personalblog.mapper.CommentReplyMapper">

    <resultMap id="BaseResultMap" type="com.csk2024.personalblog.entity.CommentReply">
            <id property="commentReplyId" column="comment_reply_id" jdbcType="VARCHAR"/>
            <result property="commentId" column="comment_id" jdbcType="VARCHAR"/>
            <result property="replyUserId" column="reply_user_id" jdbcType="VARCHAR"/>
            <result property="secondlyUserId" column="secondly_user_id" jdbcType="VARCHAR"/>
            <result property="commentReplyTime" column="comment_reply_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        comment_reply_id,comment_id,reply_user_id,
        secondly_user_id,comment_reply_time
    </sql>
</mapper>
