<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csk2024.personalblog.mapper.UserCollectionArticleMapper">

    <resultMap id="BaseResultMap" type="com.csk2024.personalblog.entity.UserCollectionArticle">
            <id property="collectionId" column="collection_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="articleId" column="article_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        collection_id,user_id,article_id
    </sql>
</mapper>
